<h1 class="text-center mt-4">Listing all articles</h1>

<%= will_paginate @articles, class: "flickr_pagination" %>

<%= render "articles", articles: @articles %>

<%= will_paginate @articles, class: "flickr_pagination mb-4" %>