<h1 class="text-center mt-4">Create a new category</h1>
<%= render "form", category: @category %>

<div class="mb-3">
    <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
</div>